.header {
    margin-bottom: 10px;
}

.profile {
    label {
        font-size: 0.8em;
        color: grey;
        text-transform: uppercase;
    }

    p {
        padding-bottom: 5px;
        border-bottom: 1px solid lightgray;
        font-weight: bolder;
    }
}