a {
    cursor: pointer;
}

.center {
    text-align: center;
}

.disabled {
    color: #ccc;
    font-weight: lighter;
}

#card {
    width: 500px;
}

.pos {
    color: green;
}

.neg {
    color: red;
}